
$textBaseColor: #333333;
$textSubHeaderColor: #666666;
$textDisabledColor: #999999;

$backgroundBaseColor: #ffffff;
$backgroundLightColor: #F6F7FC;

$primaryColor: #3949ab;
$secondaryColor: #dcd04c;
