/* You can add global styles to this file, and also import other style files */

@import "global";

// AgGrid properties
$ag-icons-path: "~ag-grid-community/src/styles/ag-theme-balham/icons/";

$icon-color: #03a9f4;
$alt-icon-color: #03a9f4;
$accent-color: #FFFFF1;

$header-height: 50px;
$row-height: 40px;
$row-border-width: 1px;
$hover-color: cornsilk;

$ag-range-selected-color-1: rgb(250, 235, 215);
$ag-range-selected-color-2: darken($ag-range-selected-color-1, 10%);
$ag-range-selected-color-3: darken($ag-range-selected-color-1, 20%);
$ag-range-selected-color-4: darken($ag-range-selected-color-1, 30%);

// Custom properties
$scrollBarWidth: 13px;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  color: $textBaseColor;
  background-color: $backgroundBaseColor;
  font: 400 24px -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Open Sans', Arial, sans-serif;
  text-rendering: optimizeLegibility;

  ::-webkit-scrollbar {
    width: $scrollBarWidth;
    height: $scrollBarWidth;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(50,50,50,0.25);
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
  }
}

body {
  font-size: 0.5833rem;
  height: 100%;
  margin: 0;
  padding: 0;
}

@import "~ag-grid-community/src/styles/ag-grid";
@import "~ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham";
