/* You can add global styles to this file, and also import other style files */

@import "global";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

$scrollBarWidth: 13px;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  color: $textBaseColor;
  background-color: $backgroundBaseColor;
  font: 400 24px -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Open Sans', Arial, sans-serif;
  text-rendering: optimizeLegibility;

  ::-webkit-scrollbar {
    width: $scrollBarWidth;
    height: $scrollBarWidth;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(50,50,50,0.25);
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
  }
}

body {
  font-size: 0.5833rem;
  height: 100%;
  margin: 0;
  padding: 0;
}
